.main {
  margin: 0;
  background-color: '#FCF7ED';
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.layout {
  width: 450px;
}

.database-debug {
  text-align: start;
  width: 450px;
}

.reset-button {
  margin-top: 0.2rem;
}

legend {
  padding: 0 0.2rem;
}

label {
  margin-right: 0.4rem;
}

input[type=checkbox] {
  margin-right: 0.4rem;
}

.selector {
  margin-bottom: 0.4rem;
}

select {
  padding: 0 0.2rem;
}

.text-input {
  margin-bottom: 0.4rem;
}
